.icon {
    border-radius: $radius;
    background-color: $secondary;
    color: $background;
    display: inline-flex;
}

.material-symbols-outlined {
  @extend .icon;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 20,
  'opsz' 48;
}