input, .input {
    background-color: $input-background;
    padding: 10px;
    font-size: 1em;
    border-radius: $radius;
    border: $border;
    width: 100%;
    margin-bottom: 20px;
}

select, .select {
    background-color: $input-background;
    padding: 10px;
    font-size: 1em;
    border-radius: $radius;
    border: $border;
    width: 100%;
    margin-bottom: 20px;

    &.open,
    &:open,
    &[aria-expanded="true"] {
        border-radius: $radius $radius 0 0;
    }
}

button, .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: $radius;
    border: 1px solid $secondary;
    background-color: $secondary;
    color: $background;
    cursor: pointer;

    &:hover {
        background-color: $secondary-hover;
    }

    &:active {
        background-color: $secondary-hover;
        transform: scale(0.98);
    }
    
    &:disabled {
        background-color: gray;
        cursor: not-allowed;
        opacity: 0.65;
    }
}
.btn-inverted {
    @extend .btn;
    background-color: $background-secondary;
    color: $secondary;

    &:hover {
        background-color: $secondary-hover;
        color: $background;
    }

    &:active {
        background-color: $secondary-hover;
        color: $background;
        transform: scale(0.98);
    }
}