<section id="landing" class="row">
    <div>
        <h1>{{ site.data.landing.title | markdownify }}</h1>
        <p>{{ site.data.landing.excerpt }}</p>
        <a href="" class="btn">Start Free Assessment</a>
        <a href="" class="btn-inverted">Learn More</a>

        <div class="grid">
            {% for bullet in site.data.landing.bullets %}
            <div class="bullet">
                <i class="{{ bullet.icon }}"></i>
                <p>{{ bullet.text }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="card">
            <img src="" alt="image" class="card">
            <h3>{{ site.data.landing.form-title}}</h3>
            <p>{{ site.data.landing.form-excerpt}}</p>
            <form action="" id="asset-search">
                <input type="text" id="asset-search-address">
                <input type="text" id="asset-search-name">
                <button type="submit" class="btn">Search Now</button>
            </form>
        </div>
    </div>
</section>