@import "variables";

* {
    color: $primary;
    font-family: $font-family;
}

body {
    background-color: $background;
    margin: 0;
    bottom: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1;
}

header {
    background-color: $header-bg-color;
    border-bottom: $border;
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(10px);      /* applies blur behind element */
    -webkit-backdrop-filter: blur(10px); /* Safari support */

    // title
    #logo-o {
        background-color: $secondary;
        color: $background;
        padding: 0 10px;
        margin-right: 1px;
        border-radius: 25%;
    }
    #title {
        font-size: 2em;
        text-decoration: none;
        font-weight: bold;
    }    

    // nav
    nav {
        display: flex;
        gap: 20px;

        a {
            text-decoration: none;
        }
    }
}

main, .main {
    flex: 1;
    background-color: $background;
    color: $primary;
    padding: 20px 10%;
}

section, .section {
    background-color: $background;
}

.section-secondary {
    @extend .section;
    background-color: $background-secondary;
}

footer {
    background-color: $footer-bg-color;
    border-top: $border;
    padding: 20px 10%;
}