.error-page {
    text-align: center;
    align-self: center;
    h1 {
        font-size: 5em;
    }
}

#maintenance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}