.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inline {
    display: inline-flex;
}