/* FONT */
$font-family: 'Poppins', 'Montserrat', 'Segoe UI', Arial, sans-serif !default;
$font-size: 16px !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

/* COLORS */

// Elements //
$background: #1A3AA5 !default;
$background-secondary: #1B358A !default;
$background-blur: rgba(0, 0, 64, 0.6) !default;
$primary: #ffffff !default;
$primary-hover: #bbbbbb !default;
$secondary: #fbbf24 !default;
$secondary-hover: #E4B12F !default;
$border-color: gray !default;
$shadow-color: rgba(0, 0, 0, 0.1) !default;

// Inputs //
$switch-background: #cbced4 !default;

// Sections //
$header-bg-color: $background-blur !default;$footer-bg-color: #0F172B !default;

// Scrollbar //
$scrollbar-track-color: #f1f1f1 !default;
$scrollbar-thumb-color: #888 !default;
$scrollbar-thumb-color-hover: #555 !default;

/* FEATURES */
$radius: 0.625rem !default;
$border: 1px solid $border-color !default;
$shadow: 0 0 10px $shadow-color !default;
